<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<!-- modify header -->
<script type="text/javascript">
  $(document).ready(function() {
    // add show and hide all info button
    var settings_item = $(".btn-toolbar>.btn-group>ul:first>.divider") 
    settings_item.after(
      '<li><a id="show-all-info" href="#">Show All Tips</a></li>',
      '<li><a id="hide-all-info" href="#">Hide All Tips</a></li>',
      '<li role="separator" class="divider"></li>'
    )
    $('#show-all-info').click(function(){
      $(".help-info").show()
    });
    $('#hide-all-info').click(function(){
      $(".help-info").hide()
    })

    // add save responses button
    var settings_item = $(".btn-toolbar>.btn-group")
    settings_item[0].style.float = "unset"
    settings_item.before(
      '<div class="btn-group" style="float: unset"><i class="fas fa-save fa-lg" accesskey="s" title="Save responses" onclick="saveResponses()" style="cursor: pointer; margin-right: 7px;"></i></div>'
    )
  });
</script>